/* #fixed_header
-----------------------------------------------------*/

#fixed_header {
  z-index: 100;
  opacity: 0;
  transition: opacity 0.4s ease !important;
}

#fixed_header:not(.is-visible),
#fixed_header:not(.is-visible) * {
  pointer-events: none !important;
}

#fixed_header.is-visible {
  opacity: 1;
}
